/* 기본 */
* {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    box-sizing: border-box;
    font-size: 13px;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
}
html {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
body {
    width: 45%;
    background: rgb(40, 40, 60);
}
input {
    border: 1px solid black;
    border-radius: 3px;
    line-height: 35px;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
}
.backbtn {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
.wrapper {
    padding: 10px;
}
div {
    padding-top: 3px;
    padding-bottom: 8px;
}
.title {
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
}
.minititle {
    margin-left: 10px;
}
.id input {
    width: 100%;
}
.email input {
    width: 90%;
}
#buttons {
    margin-left: 10px;
}
.name input {
    width: 100%;
}
.password input {
    width: 100%;
}
.passwordCheck input {
    width: 100%;
}
.phone input {
    width: 100%;
}
.auth {
    display: flex;
    justify-content: space-between;
}
.timer {
    display: flex;
    justify-content: space-between;
}
.auth div {
    width: 30%;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
}
.auth button {
    width: 70%;
}
.timer div {
    width: 30%;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 20px;
}
.timer button {
    width: 70%;
}
.area select {
    width: 100%;
    height: 40px;
    margin-left: 10px;
}
.gender {
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 13px;
}
.gender input {
    margin-left: 10px;
}
.signUp button {
    width: 100%;
    cursor: pointer;
    margin-bottom: 40px;
}
button {
    cursor: pointer;
    height: 30px;
}
.error {
    font-size: 1px;
    height: 20px;
    color: red;
    font-weight: 700;
    margin-top: 10px;
}
.signUp {
    margin-bottom: 20px;
}